SECRET_KEY=django-insecure-change-me
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
ALLOWED_HOSTS=localhost,127.0.0.1,.onrender.com

PESAPAL_CONSUMER_KEY=your_pesapal_key
PESAPAL_CONSUMER_SECRET=your_pesapal_secret
PESAPAL_CALLBACK_URL=http://localhost:8000/api/payments/callback/
PESAPAL_IPN_ID=your_ipn_registration_id

FRONTEND_URL=http://localhost:5173

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

IMGBB_API_KEY=your_imgbb_api_key

# Optional — only if using Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=